In [1]:
# import libraries 

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [2]:
names=[]
authors=[]
ratings=[]
reviews=[]
types=[]
current_price=[]
first_prices=[]
book_urls=[]
asins=[]

keyword='SQL+book'
pages=[str(i)for i in range(0,8)]
for page in pages:
    URL = 'https://www.amazon.com/s?k='+keyword+'&page='+page+'&crid=GNW0L9FR9XFO&qid=1663307970&sprefix=sql+b%2Caps%2C498&ref=sr_pg_'+page

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    time.sleep(10)
    
    response = requests.get(URL, headers=headers)
    if response.status_code != 200:
                print(response.text)
                break

    soup1 = BeautifulSoup(response.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    


    book_containers=soup2.find_all('div',{'data-component-type':'s-search-result'})


   
    for container in book_containers:

        title=container.h2.text.strip()
        names.append(title)

        author=container.find('div',class_='a-row a-size-base a-color-secondary').a
        if author:
            author=container.find('div',class_='a-row a-size-base a-color-secondary').a.text.strip()
            authors.append(author)
        else:
            author=container.find('div',class_='a-row a-size-base a-color-secondary').find_all('span')[1].text.strip()
                
            authors.append(author)
        
            
        
            

        rating_num=rating_num=container.find('div', class_='a-row a-size-small')
        if rating_num:

            rating_num=container.find('div', class_='a-row a-size-small').span.text.strip()[:4]
            ratings.append(float(rating_num))
        else:
            ratings.append(None)


        review=container.find('div',class_='a-section a-spacing-none a-spacing-top-micro').find_all('span')[-1]
        if review:

            review=container.find('div',class_='a-section a-spacing-none a-spacing-top-micro').find_all('span')[-1].text.strip()
            reviews.append(review)
        else:
            reviews.append(None)

        format_book=container.find_all('div',class_='a-row a-size-base a-color-base')[0]
        if format_book:

            format_book=container.find_all('div',class_='a-row a-size-base a-color-base')[0].text.strip()
            types.append(format_book)
        else:
            types.append(None)

        price=container.find('span', class_='a-offscreen')
        if price:
            price=container.find_all('span', class_='a-offscreen')[0].text.strip()
            current_price.append(price)
        else:
            current_price.append(None)

        first_price=container.find_all('span',class_='a-offscreen')
        if len(first_price)>1:
            first_price=container.find_all('span', class_='a-offscreen')[1].text.strip()
            first_prices.append(first_price)
        else:
            first_prices.append(price)


        #find the book's URL
        link=container.find('h2').a
        url=link.get('href')
        book_url = 'https://www.amazon.com/'+url
        book_urls.append(book_url)

        #find the asin
        asin=container.attrs['data-asin']
        asins.append(asin)

<!--
        To discuss automated access to Amazon data please contact api-services-support@amazon.com.
        For information about migrating to our APIs refer to our Marketplace APIs at https://developer.amazonservices.com/ref=rm_5_sv, or our Product Advertising API at https://affiliate-program.amazon.com/gp/advertising/api/detail/main.html/ref=rm_5_ac for advertising use cases.
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sorry! Something went wrong!</title>
  <style>
  html, body {
    padding: 0;
    margin: 0
  }

  img {
    border: 0
  }

  #a {
    background: #232f3e;
    padding: 11px 11px 11px 192px
  }

  #b {
    position: absolute;
    left: 22px;
    top: 12px
  }

  #c {
    position: relative;
    max-width: 800px;
    padding: 0 40px 0 0
  }

  #e, #f {
    height: 35px;
    border: 0;
    font-size: 1em
  }

  #e {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    border-radius: 4px 0 0 4px
  }

  #f {
    cursor: pointer;
    background: #febd69;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px
  }

  @media (max-width: 500px) {
    #a {
      padding: 55px 10px 10px
    }

    #b {
      left: 6px
    }
  }

  #g {
    text-align: center;
    margin: 30px 0
  }

  #g img {
    max-width: 90%
  }

  #d {
    display: none
  }

  #d[src] {
    display: inline
  }
  </style>
</head>
<body>
    <a href="/ref=cs_503_logo"><img id="b" src="https://images-na.ssl-images-amazon.com/images/G/01/error/logo._TTD_.png" alt="Amazon.com"></a>
    <form id="a" accept-charset="utf-8" action="/s" method="GET" role="search">
        <div id="c">
            <input id="e" name="field-keywords" placeholder="Search">
            <input name="ref" type="hidden" value="cs_503_search">
            <input id="f" type="submit" value="Go">
        </div>
    </form>
<div id="g">
  <div><a href="/ref=cs_503_link"><img src="https://images-na.ssl-images-amazon.com/images/G/01/error/500_503.png"
                                        alt="Sorry! Something went wrong on our end. Please go back and try again or go to Amazon's home page."></a>
  </div>
  <a href="/dogsofamazon/ref=cs_503_d" target="_blank" rel="noopener noreferrer"><img id="d" alt="Dogs of Amazon"></a>
  <script>document.getElementById("d").src = "https://images-na.ssl-images-amazon.com/images/G/01/error/" + (Math.floor(Math.random() * 43) + 1) + "._TTD_.jpg";</script>
</div>
</body>
</html>

In [3]:
import pandas as pd
df=pd.DataFrame({'name':names,
'author':authors,
'rating':ratings,
'total_review':reviews,
'type':types,
'current_price':current_price,
'first_price':first_prices,
'book_url':book_urls,
'asin':asins
                })
df.head(10)

Empty DataFrame
Columns: [name, author, rating, total_review, type, current_price, first_price, book_url, asin]
Index: []

In [4]:
df.tail(10)

,name,author,rating,total_review,type,current_price,first_price,book_url,asin
440,"Learning PHP, MySQL & JavaScript: A Step-by-St...",Robin Nixon,4.4,43,Paperback,$21.01,$41.99,https://www.amazon.com//Learning-MySQL-JavaScr...,1492093823
441,Microsoft SQL Server Management Studio A Compl...,The Art of Service - Microsoft SQL Server Mana...,NaN,"Mon, Mar 6",Paperback,$99.97,$99.97,https://www.amazon.com//Microsoft-Server-Manag...,1867431289
442,SQL For Dummies,Allen G. Taylor,4.4,139,Paperback,None,None,https://www.amazon.com//SQL-Dummies-Allen-G-Ta...,1118607961
443,Wiley's CPA 2022 Study Guide + Question Pack: ...,Wiley,4.2,9,Paperback,$405.39,$600.00,https://www.amazon.com//Wileys-2022-Study-Guid...,1119852382
444,"Spark in Action, Second Edition: Covers Apache...",Jean-Georges Perrin,4.3,40,Paperback,$59.99,$59.99,https://www.amazon.com//Spark-Action-Jean-Geor...,1617295523
445,"Full Stack GraphQL Applications: With React, N...",William Lyon,5.0,1,Paperback,$42.84,$59.99,https://www.amazon.com//Fullstack-GraphQL-Appl...,1617297038
446,Microsoft Office 365: 11-In-1: The Definitive ...,Damon J. Burns,5.0,326,Paperback,$19.99,$19.99,https://www.amazon.com//gp/slredirect/picassoR...,B0BP41763H
447,Learn PostgreSQL: Build and manage high-perfor...,Luca Ferrari,4.4,33,Paperback,$44.99,$44.99,https://www.amazon.com//gp/slredirect/picassoR...,183898528X
448,Python Programming for Beginners: 2 Books in 1...,Part of: Computer Programming (28 books),4.7,199,Paperback,$21.99,$21.99,https://www.amazon.com//gp/slredirect/picassoR...,B0B7QPFY8K
449,SQL for Data Analytics: Perform efficient and ...,Chad Knowles,4.9,194,Paperback,$15.97,$15.97,https://www.amazon.com//gp/slredirect/picassoR...,B0BG5JN89K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           450 non-null    object
 1   author         450 non-null    object
 2   rating         433 non-null    float64
 3   total_review   450 non-null    object
 4   type           450 non-null    object
 5   current_price  431 non-null    object
 6   first_price    431 non-null    object
 7   book_url       450 non-null    object
 8   asin           450 non-null    object
dtypes: float64(1), object(8)
memory usage: 31.8+ KB

In [6]:
df[pd.isnull(df.rating)]

,name,author,rating,total_review,type,current_price,first_price,book_url,asin
48,Pro SQL Server 2022 Administration: A Guide fo...,Peter A. Carter,NaN,Only 8 left in stock (more on the way).,Paperback,$69.99,$69.99,https://www.amazon.com//Pro-SQL-Server-2022-Ad...,1484288637
49,Advanced SQL with SAS,Christian FG Schendera,NaN,Available instantly,Kindle,$51.13,$63.99,https://www.amazon.com//Advanced-SQL-SAS-Chris...,B0B4B692YK
108,Pro SQL Server 2022 Administration: A Guide fo...,Peter A. Carter,NaN,Only 8 left in stock (more on the way).,Paperback,$69.99,$69.99,https://www.amazon.com//Pro-SQL-Server-2022-Ad...,1484288637
109,Advanced SQL with SAS,Christian FG Schendera,NaN,Available instantly,Kindle,$51.13,$63.99,https://www.amazon.com//Advanced-SQL-SAS-Chris...,B0B4B692YK
144,Practical Database Auditing for Microsoft SQL ...,Josephine Bush,NaN,Only 6 left in stock (more on the way).,Paperback,$46.17,$49.99,https://www.amazon.com//Practical-Database-Aud...,1484286332
194,T-SQL Fundamentals (Developer Reference),Itzik Ben-Gan,NaN,This title has not yet been released.,Paperback,$49.99,$49.99,https://www.amazon.com//T-SQL-Fundamentals-Dev...,0138102104
195,SQL: Elite Level SQL From The Ground Up (DIY S...,Keith Dvorjak,NaN,Available instantly,Kindle,$0.00,$0.00,https://www.amazon.com//SQL-Elite-Level-Ground...,B07HVVJ64W
201,Handbook of Computer Programming with Python,Dimitrios Xanthidis,NaN,Ships to Vietnam,Hardcover,$120.00,$120.00,https://www.amazon.com//Handbook-Computer-Prog...,0367687771
236,Pro Encryption in SQL Server 2022: Provide the...,Matthew McGiffen,NaN,Ships to Vietnam,Paperback,$54.99,$54.99,https://www.amazon.com//Pro-Encryption-SQL-Ser...,1484286634
246,Pro Encryption in SQL Server 2022: Provide the...,Matthew McGiffen,NaN,Ships to Vietnam,Paperback,$54.99,$54.99,https://www.amazon.com//Pro-Encryption-SQL-Ser...,1484286634
271,SQL: Advanced Level SQL From The Ground Up (DI...,Keith Dvorjak,NaN,Available instantly,Kindle,$0.00,$0.00,https://www.amazon.com//SQL-Advanced-Level-Gro...,B07FBB5SC5
279,SQL: 2 in 1 : The Most Up-To-Date Guide For Be...,Jym Lawrence,NaN,Available instantly,Kindle,$0.00,$0.00,https://www.amazon.com//SQL-Up-Date-Intermedia...,B082HYSKJN
315,Protecting SQL Server Data,John Magnabosco,NaN,Ships to Vietnam,Paperback,$29.99,$29.99,https://www.amazon.com//Protecting-Server-Data...,1906434271
330,SQL Server Database Programming with Java: Con...,Ying Bai,NaN,Only 3 left in stock (more on the way).,Hardcover,$59.99,$59.99,https://www.amazon.com//Server-Database-Progra...,3030926869
355,Creating SQL Queries Using MySQL Made Easy (SQ...,Part of: SQL Series (5 books),NaN,Ships to Vietnam,Paperback,$29.95,$29.95,https://www.amazon.com//Creating-Queries-Using...,1935208454
410,Pro SQL Server 2022 Wait Statistics: A Practic...,Thomas LaRock,NaN,Available instantly,Kindle,$15.00,$37.49,https://www.amazon.com//Pro-Server-2022-Wait-S...,B0BS3BHYXB
441,Microsoft SQL Server Management Studio A Compl...,The Art of Service - Microsoft SQL Server Mana...,NaN,"Mon, Mar 6",Paperback,$99.97,$99.97,https://www.amazon.com//Microsoft-Server-Manag...,1867431289

In [31]:
df['total_review'] = df['total_review'].where(df['rating'].notnull(), '0')

In [20]:
df[pd.isnull(df.current_price)]

,name,author,rating,total_review,type,current_price,first_price,book_url,asin
31,SQL Cookbook: Query Solutions and Techniques f...,Anthony Molinaro,4.6,301,Paperback,None,None,https://www.amazon.com//SQL-Cookbook-Solutions...,0596009763
54,SQL Performance Tuning,Peter Gulutzan,3.7,16,Paperback,None,None,https://www.amazon.com//SQL-Performance-Tuning...,0201791692
91,SQL Cookbook: Query Solutions and Techniques f...,Anthony Molinaro,4.6,301,Paperback,None,None,https://www.amazon.com//SQL-Cookbook-Solutions...,0596009763
114,SQL Performance Tuning,Peter Gulutzan,3.7,16,Paperback,None,None,https://www.amazon.com//SQL-Performance-Tuning...,0201791692
147,Microsoft Access Projects with Microsoft SQL S...,Ralf Albrecht,3.4,5,Paperback,None,None,https://www.amazon.com//Microsoft-Access-Proje...,0735610029
160,Building Performance Dashboards and Balanced S...,Christopher Price,3.5,6,Paperback,None,None,https://www.amazon.com//Building-Performance-D...,111864719X
171,Practical SQL: A Beginner's Guide to Storytell...,Anthony DeBarros,4.6,257,Paperback,None,None,https://www.amazon.com//Practical-SQL-Beginner...,1593278276
190,Microsoft速 SQL Server速 2008 MDX Step by Step,Part of: Step by Step Developer (25 books),3.8,(28),Paperback,None,None,https://www.amazon.com//Microsoft%C2%AE-Server...,0735626189
227,"SQL in 10 Minutes, Sams Teach Yourself",Part of: Sams Teach Yourself (142 books),4.6,(987),Paperback,None,None,https://www.amazon.com//SQL-Minutes-Sams-Teach...,0672336073
262,"Learning PHP, MySQL & JavaScript: With jQuery,...",Robin Nixon,4.7,506,Paperback,None,None,https://www.amazon.com//Learning-PHP-MySQL-Jav...,1491978910
287,SQL Server 2017 Administration Inside Out,Part of: Inside Out (40 books),4.3,53,Paperback,None,None,https://www.amazon.com//SQL-Server-2017-Admini...,1509305211
310,DB2 for the COBOL Programmer. Part 1: An Intro...,Steve Eckols,4.6,15,Paperback,None,None,https://www.amazon.com//DB2-COBOL-Programmer-P...,0911625593
356,A Guide to the SQL Standard: A User's Guide to...,C. J. Date,4.1,18,Paperback,None,None,https://www.amazon.com//Guide-SQL-Standard-4th...,0201964260
357,Professional Microsoft SQL Server Analysis Ser...,Sivakumar Harinath,4.1,13,Paperback,None,None,https://www.amazon.com//Professional-Microsoft...,0470247983
372,The Azure Data Lakehouse Toolkit: Building and...,Ron L'Esteve,3.5,2,Paperback,None,None,https://www.amazon.com//Azure-Data-Lakehouse-T...,1484282329
385,The Practical SQL Handbook: Using Structured Q...,Judith S. Bowman,4.1,45,Paperback,None,None,https://www.amazon.com//Practical-SQL-Handbook...,0201447878
419,The Practical SQL Handbook: Using SQL Variants,Judith S Bowman,4.0,43,Paperback,None,None,https://www.amazon.com//Practical-SQL-Handbook...,0201703092
425,Microsoft SQL Server 2012 High-Performance T-S...,Part of: Developer Reference (71 books),4.5,42,Paperback,None,None,https://www.amazon.com//Microsoft-High-Perform...,0735658366
442,SQL For Dummies,Allen G. Taylor,4.4,139,Paperback,None,None,https://www.amazon.com//SQL-Dummies-Allen-G-Ta...,1118607961

In [22]:
df['current_price']=df['current_price'].str.replace('$','')
df['current_price']

C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\3215156518.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['current_price']=df['current_price'].str.replace('$','')

0      24.69
1      22.49
2      21.99
3      36.99
4      24.69
       ...
445    42.84
446    19.99
447    44.99
448    21.99
449    15.97
Name: current_price, Length: 450, dtype: object

In [23]:
df['first_price']=df['first_price'].str.replace('$','')
df['first_price']

C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\1778504218.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['first_price']=df['first_price'].str.replace('$','')

0      25.99
1      24.99
2      21.99
3      36.99
4      25.99
       ...
445    59.99
446    19.99
447    44.99
448    21.99
449    15.97
Name: first_price, Length: 450, dtype: object

In [25]:
df['total_review']=df['total_review'].str.replace(r'\(|\)', '')
df['total_review'][227]

C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\1978034562.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['total_review']=df['total_review'].str.replace(r'\(|\)', '')

'987'

In [26]:
df['total_review']=df['total_review'].str.replace(',', '')
df['total_review'][1]

'1377'

In [33]:
df['total_review']=df['total_review'].astype(int)

In [34]:
df['total_review'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 450 entries, 0 to 449
Series name: total_review
Non-Null Count  Dtype
--------------  -----
450 non-null    int32
dtypes: int32(1)
memory usage: 1.9 KB

In [35]:
df.to_csv('amazon_SQL_books.csv', index=False, encoding='utf-8')